<div class="container base">

  <span class="titulo mb-4">
    {{title}}
  </span>

  <div class="bloque">
    <i class="fa-solid fa-location-dot fa-lg"></i>
    <span class="info">{{datos.direccion}}</span>
  </div>

  <div class="bloque">
    <i class="fa-solid fa-phone fa-lg"></i>
    <span class="info">+56 {{datos.telefono}}</span>
  </div>

  <div class="bloque">
    <i class="fa-solid fa-envelope fa-lg"></i>
    <span class="info">{{datos.email}}</span>
  </div>

  <div class="bloque">
    <i class="fa-brands fa-linkedin fa-lg"></i>
    <span class="info">{{datos.linkedin}}</span>
  </div>

</div>
